[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
keras = "*"
tensorflow = "==2.7.0"
matplotlib = "*"
opencv-contrib-python = "*"
scipy = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
